.App{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(236, 240, 241, 0.47);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;    
    background: rgba(236, 240, 241, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}
.App h1{
    text-align: center;
    text-shadow: 2px 2px var(--main-color);
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: var(--space-bottom);
}
.App input{
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--space-bottom);
    padding: 20px 25px;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--second-color);
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .App{
        width: 90%;
    }
}